/*---------------------------------M003-01---------------------------------*/
hr{
	width: 60%;
}

.btn-right-side
{
	float: right; 
	margin-right: 8%;
}

/*---------------------------------M005-01---------------------------------*/